html, body {
    font-family: "Oxygen", sans-serif;
    background-color: #222;
    max-width: 1000px;
    margin: 0 auto;
}

h1, h3, #step {
    text-align: center;
    color: white;
}

h1 {
    font-size: 4em;
    margin-bottom: 0;
}

h3 {
    font-size: 2em;
    margin-top: 0;
}

#step {
    font-size: 1.4em;
    margin: 1em 0;
    padding: 1em 0 0 0;
    color: #aaa;
    border-top: 1px solid #777;
}

.center, a {
    text-align: center;  
    display: inline-flex;
    margin: 1em;
    margin-top: 0;
}

.center h4 {
    font-size: 1.5em;
    margin: 10px;
}

.option {
    margin: 1em;
    margin-top: 0;
    vertical-align: middle;
    max-width: 500px;
}
#simple {
    margin-left: auto;
    background-color: white;
    color: #222;
}

#extra {
    margin-right: auto;
    color: white;
    background-color: #101010;
}

#note {
    text-align: center;
    color: white;
}

#extra img {
    border: 1px solid white;
    max-width: 450px;
    width: 100%;
    margin-bottom: 20px;
}

#simple img {
    border: 1px solid #222;
    max-width: 450px;
    width: 100%;
    margin-bottom: 20px;
}

#step {
    width: 100%;
}

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 630px) {
    
    html, body {
        background-color: #222;
        max-width: 1000px;
        margin: 0 auto;
    }
    
    h1 {
        font-size: 2.6em;
        padding-bottom: 0.4em;
        overflow-x: scroll;
    }
    
    h3 {
        font-size: 1.3em;
    }
    
    .center h4 {
        padding: 10px;
    }
    

    .center, a {
        text-align: center;  
        display: block;
        margin: 1em;
    }
    
    .option {
        margin: 0 auto;
        padding-bottom: 3px;
        max-width: 500px;
    }
}