.post {
    margin: 3em 0.2em 2em 0.2em;
}

.post h3 {
    font-size: 2em;
    margin: 0;
    padding: 0 0.5em;
}

.post em {
    margin: 1em;
}

.post h5 {
    font-size: 1.2em;
    margin: 1em 0 0 0.7em;
}

.post h6 {
    font-size: 1em;
    margin: 1em 0 0 0.7em;
}

.post p {
    margin: 0;
}