/********** Research stages table **********/
table,
th,
tr {
    margin: 0 auto;
    width: 
}

th,
td {
    padding: 0.5em;
    text-align: center;
}

th {
    background-color: #F4F4F4;
}

tr, td, th{
    border: 1px solid #e1e1e1;
    border-collapse: collapse;
}