header {
    background-color: #000;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    width: 100%;
    height: 100vh;
    min-height: 300px;
    font-size: 2em;
}

.title {
    text-align: center;
    color: white;
}

.title h1 {
    font-size: 3.5em;
    padding-bottom: 20px;
    margin: 0;
    text-underline-position: left
}

.title h2 {
    font-size: 1.5em;
    padding-bottom: 20px;
    margin: 0;
}

#ball {
    position: absolute;
    margin-top: -90px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    width: 100px;
    height: 37px;
    border-radius: 500% 500% 0 0;
    background: #DEE2E6;
    z-index: 0;
    
    text-align: center;
}

.cont-info {
    height: 80px;
    background-color: #101010; /*#DEE2E6;*/
    color: white;
}

.me {
    margin-top: -55px;
    text-align: center;
}

.info{
    padding: 4em;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    margin-top: -15px;
    width: 70px;
}

.about {
    /* The image used */
    background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.6)
    ), url('../../img/extra/about/laptop.jpg');

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.fadeinleft {
    text-align: justify;
    opacity: 0;
	margin-left:-600px;
}

.fadeinright {
    text-align: justify;
    opacity: 0;
    margin-left: auto;
    margin-right: -600px;
}

.fadeinbottom {
    text-align: justify;
    opacity: 0;
    margin-top: auto;
    margin-bottom: -600px;
}

.about-details h5 {
    text-align: center;
}

.about-details {
	width: 700px;
}

.cont-person {
    color: white;
    width: 600px;
    margin: 0 auto;
    text-align: justify;
}

.cont-person h5 {
    text-align: center;
}

.cont-acad {
    /*background-color: #BFBFBF; /*#3F3F3F;*/
     /* The image used */
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.6)
    ), url('../../img/extra/about/uoft.jpg');

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.guitar {
    /* The image used */
    background-image: url('../../img/extra/about/guitar.jpg');

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.courses {
    /* The image used */
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 1)
    ), url('../../img/extra/about/classroom.jpg');

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    font-size: 2em;
}

.courses h6 {
    font-size: 1.5em;
    margin: 0;
}

.academia,
.cont-a {
    width: 800px;
    color: white;
}